<div class="disaster-content">
  <div class="disaster-map">
    <div id="charts">
      <div id="main" :style="{width:'600px',height:'400px'}"></div>
    </div>
    <div class="line-chart">
      <div id="dynamic" :style="{width: '400px'}"></div>
      <div class="disaster-search">
        <div class="row-item">
          <label>选择地点</label>
          <select v-model="selectedAddress">
            <option v-for="item in address" :value="item.value">
              {{item.name}}
            </option>
          </select>
        </div>
        <div class="row-item">
          <label>起始时间</label>
          <input type="date" :value="startTime">
        </div>
        <div class="row-item">
          <label>截止时间</label>
          <input type="date" :value="endTime">
          <button>搜索</button>
        </div>
        <!--<div class="row-item" style="text-align: right;width: 250px;">-->
        <!--<button>搜索</button>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="disaster-bottom">
    <div class="disasterDetails">
      <h4>详情展示</h4>
      <table cellspacing="0">
        <tr>
          <th style="width: 16%">灾害地点</th>
          <th style="width: 16%">发生时间</th>
          <th style="width: 16%">灾害类型</th>
          <th style="width: 16%">灾害等级</th>
          <th style="width: 52%">灾害详情</th>
        </tr>
        <tr>
          <td v-text="detailData.address"></td>
          <td v-text="detailData.time"></td>
          <td v-text="detailData.type"></td>
          <td v-text="detailData.grade"></td>
          <td v-text="detailData.description"></td>
        </tr>
      </table>
    </div>
    <p>Tips:点击地图上颜色点可以在下方表格显示详细数据，同时右侧动态坐标轴也会切换到相应地区的数据，点击地图右下角颜色块可切换地图的色块数据显示</p>
  </div>
  <swiper></swiper>
  <h1 style="color: #ffffff;text-align: center">以上均为静态模拟数据！</h1>
</div>
