<section class="tabs-content">
  <el-tabs v-model="activeDisasterPanel" type="card" @tab-click="switchDisaster">
    <el-tab-pane
      v-for="item in disasterPanel"
      :key="item.name"
      :label="item.label"
      :name="item.name">
      <el-tabs v-model="activeModePanel" @tab-click="switchMode">
        <el-tab-pane
          v-for="item in modePanels"
          :key="item.name"
          :label="item.label"
          :name="item.name">
          <div :is="item.component"></div>
        </el-tab-pane>
      </el-tabs>
    </el-tab-pane>
  </el-tabs>
</section>
