<div class="sidebar">
  <el-col :span="24">
    <el-menu default-active="/"
             class="el-menu-vertical-demo"
             theme="light"
             :router="true">
      <el-submenu index="1">
        <template slot="title">实时</template>
        <el-menu-item-group>
          <el-menu-item
            v-for="item in sidebarList.real"
            :key="item.path"
            :index="item.path">
            {{item.text}}
          </el-menu-item>
        </el-menu-item-group>
      </el-submenu>
      <el-submenu index="2">
        <template slot="title">预警</template>
        <el-menu-item-group>
          <el-menu-item
            v-for="item in sidebarList.alarm"
            :key="item.path"
            :index="item.path">
            {{item.text}}
          </el-menu-item>
        </el-menu-item-group>
      </el-submenu>
      <el-menu-item
        v-for="item in sidebarList.config"
        :key="item.path"
        :index="item.path">{{item.text}}</el-menu-item>
    </el-menu>
  </el-col>
</div>

