<section class="config-content">
  <div class="config-item item-area">
    <h4>灾害位置</h4>
    <div class="area-select">
      <el-select v-model="selectedLocation.selectedProvince" placeholder="请选择">
        <el-option
          v-for="item in provinces"
          :key="item.name"
          :label="item.name"
          :value="item.name">
        </el-option>
      </el-select>
      <span class="province-span">省/市</span>
      <el-select v-model="selectedLocation.selectedCity" placeholder="请选择">
        <el-option
          v-for="city in currentCities"
          :key="city.name"
          :label="city.name"
          :value="city.name">
        </el-option>
      </el-select>
      <span class="city-span">市</span>
      <el-select v-model="selectedLocation.selectedArea" placeholder="请选择">
        <el-option
          v-for="area in currentArea"
          :key="area"
          :label="area"
          :value="area">
        </el-option>
      </el-select>
      <span>区</span>
    </div>
  </div>
  <div class="config-item">
    <h4>灾害坐标</h4>
    <div class="config-item-box">
      <label>经度</label>
      <el-input v-model="selectedLocation.longitude"></el-input>
      <label>纬度</label>
      <el-input v-model="selectedLocation.latitude"></el-input>
    </div>
  </div>
  <div class="config-item item-type">
    <h4>灾害类型</h4>
    <div class="disaster-list">
      <ul>
        <li v-for="type in disasterTypes">
          <el-radio class="disasterType" v-model="chooseType" :label="type.value">{{type.name}}</el-radio>
        </li>
      </ul>
    </div>
  </div>
  <div class="config-item item-params">
    <h4>参数配置</h4>
    <div>
      <div class="config-item-box" v-for="(param, index) in configParams" :key="index">
        <label v-text="param.name"></label>
        <el-input v-model="configParams[index].factorVal"></el-input>
        <el-button
          @click="editLimit(param.variableLevel, index)"
          type="primary"
          size="small"
          style="margin-left: 10px"
        >修改参数上下限</el-button>
      </div>
    </div>
  </div>
  <div class="submit" style="padding-top: 10px">
    <el-button size="large" type="info" @click="submitConfig">提交配置</el-button>
  </div>
  <el-dialog
    title="修改上下限"
    v-model="dialogVisible"
    size="small">
    <div class="panel-item-box">
      <label class="item-label">因子参数上限值</label>
      <input class="item-input"
             type="text"
             v-model="editLimitParam.topLimit"
             placeholder="必须为数字">
    </div>
    <div class="panel-item-box">
      <label class="item-label">因子参数下限值</label>
      <input class="item-input"
             type="text"
             v-model="editLimitParam.floorLimit"
             placeholder="必须为数字">
    </div>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="editLimitConfirm">确 定</el-button>
  </span>
  </el-dialog>
</section>
