<section class="config-content">
  <div class="config-item item-area">
    <h4>灾害位置</h4>
    <div class="area-select">
      <el-select v-model="selectedProvince" placeholder="请选择">
        <el-option
          v-for="item in provinces"
          :key="item.name"
          :label="item.name"
          :value="item.name">
        </el-option>
      </el-select>
      <span class="province-span">省/市</span>
      <el-select v-model="selectedCity" placeholder="请选择">
        <el-option
          v-for="city in currentCities"
          :key="city.name"
          :label="city.name"
          :value="city.name">
        </el-option>
      </el-select>
      <span class="city-span">市</span>
      <el-select v-model="selectedArea" placeholder="请选择">
        <el-option
          v-for="area in currentArea"
          :key="area"
          :label="area"
          :value="area">
        </el-option>
      </el-select>
      <span>区</span>
    </div>
  </div>
  <div class="config-item">
    <h4>灾害坐标</h4>
    <div class="config-item-box">
      <label>经度</label>
      <input class="config-input"/>
      <label>纬度</label>
      <input class="config-input"/>
    </div>
  </div>
  <div class="config-item item-type">
    <h4>灾害类型</h4>
    <div class="disaster-list">
      <ul>
        <li v-for="type in disasterTypes">
          <el-radio class="disasterType" v-model="chooseType" :label="type.value">{{type.name}}</el-radio>
        </li>
      </ul>
    </div>
  </div>
  <div class="config-item item-params">
    <h4>参数配置</h4>
    <div>
      <div class="config-item-box" v-for="(param, index) in configParams" :key="index">
        <label v-text="param.name"></label>
        <input v-model="configResult[factorList[index].val]" class="config-input" type="text">
        <label>上限值</label>
        <input v-model="factorList[index].topLimit" class="config-input" type="text">
        <label>下限值</label>
        <input v-model="factorList[index].floorLimit" class="config-input" type="text">
      </div>
      <div class="config-item-box">
        <label>上传云图资料</label>
        <span class="config-upload">
          <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :file-list="fileList">
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
        </span>
      </div>
    </div>
  </div>
  <div class="submit">
    <el-button size="large" type="info" @click="submitConfig">提交配置</el-button>
  </div>
</section>
