<div  ng-controller="TodoController">
    <div>
        <a ng-click="setVisibility(true)">All</a>
        <a ng-click="setVisibility(false, false)">Incomplete</a>
        <a ng-click="setVisibility(false, true)">Complete</a>
    </div>

    <ul>
        <li ng-repeat="task in model.tasks" ng-if="showTask(task)">
            <input type="checkbox" ng-checked="task.completed" ng-click="toggleCompletion($index)">
            <span ng-click="selectTask($index)">{{task.description}}</span>
        </li>
    </ul>
    <div id="main" style="height:400px"></div>
</div>

